@charset "UTF-8";

/* 
    Document   : reponse
    Created on : Aug 17, 2013, 3:44:02 PM
    Author     : carlson
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
root { 
    display: block;
}

